# JingWei
# .dockerignore    2026-07-18
#
# @link    : https://github.com/shezw/JingWei
# @author  : shezw
# @email   : hello@shezw.com

.agent/
docker/wpe-dev/vnc-password.dev
.git/
build/
test-results/
artifacts/
WebKitBuild/
